

.splash-label{
    margin-right: 20px;
}

.splash-label-head{
    color:rgb(184, 184, 184);
    font-size: 50px;
}
.splash-label-subhead{
    color:rgb(184, 184, 184);
    font-size: 30px;
}
.splash-label-desc{
    color:rgb(151, 151, 151);
    font-size: 20px;
}

window{
    background-color: rgb(22, 22, 22);
    border: none;
}


.brand-box {
    /* Add your styles for the brand box here */
    margin-bottom: 40px;
    margin-top: 60px;
}

.brand-label-box {
    /* Add your styles for the brand label box here */
    margin-left: 30px;
}

.brand-label {
    color:rgb(184, 184, 184);
    font-size: 50px;
}

.brand-sub-label {
    color:rgb(184, 184, 184);
    font-size: 30px;
}

.brand-desc-label {
    color:rgb(151, 151, 151);
    font-size: 20px;
}

.menu-box {
border:none;
}

.menu-button {
    background-color: rgb(66, 66, 66);
    color:rgb(193, 193, 193);
    padding: 10px;
    margin: 10px;
    background-image: none;
    background-color: rgb(66, 66, 66);
    border: none;
}

.menu-button:hover {
    background-color: rgb(88, 88, 88);
}

.frame{
    background-color: rgb(35, 35, 35);
    border-style:none;
    border-width: 0px;
}
.dialog-box{
    padding: 20px;
}


.close_btn{
    background-color: rgb(66, 66, 66);
    color:rgb(193, 193, 193);
    padding: 10px;
    margin: 10px;
    background-image: none;
    background-color: rgb(66, 66, 66);
    border: none;
}
.close_btn:hover {
    background-color: rgb(88, 88, 88);
}


.chip-area {
    background-color: rgb(127, 58, 58);
}

.chip-btn{
    color:rgb(193, 193, 193);
    padding: 10px;
    background-image: none;
    background-color: rgb(66, 66, 66);
    border: none;
    margin-right: 4px;
}
.chip-btn:hover {
    background-color: rgb(88, 88, 88);
}

.chip-selector {
    background-color: rgb(48, 48, 48);
}

.chip-menu-btn{
    background-color: rgb(114, 124, 213);
}

.creation-area {
    background-color: rgb(38, 38, 38);
    margin: 30px;
}
.screen-stack{
    border:none;
}
.action-menu-btn
{
    color:rgb(193, 193, 193);
    padding: 10px;
    background-image: none;
    background-color: rgb(66, 66, 66);
    border: none;
}
.action-menu-btn:hover
{
    background-color: rgb(88, 88, 88);
}

.action-menu-area
{
    background-color: rgb(88, 88, 88);
    /* padding: 30px; */
    border:none;
}

.dialog-label{
    color:rgb(235, 235, 235);
    font-size: 30px;
    margin-bottom: 10px;
}
.dialog-error{
    color:rgb(255, 0, 0);
    font-size: 20px;
}

.dialog-input{
    color:rgb(193, 193, 193);
    padding-bottom: 15px;
    padding-top: 15px;
    font-size: 16px;
    background-image: none;
    background-color: rgb(66, 66, 66);
    border: none;
    margin-right: 4px;
}

.dialog-input:hover {
    background-color: rgb(88, 88, 88);
}


.dialog-cancel{
    background-image: none;
    background-color: rgb(135, 33, 33);
    color:white;
    padding: 10px;
    padding-left: 20px;
    padding-right: 20px;
    margin: 10px;
    border:none;
}

.dialog-cancel:hover {
    background-color: rgb(157, 33, 33);
}

.dialog-save{
    background-image: none;
    background-color: rgb(66, 66, 66);
    color:white;
    padding: 10px;
    margin: 10px;
    padding-left: 20px;
    padding-right: 20px;
    border:none;
}

.dialog-save:hover {
    background-color: rgb(88, 88, 88);
}

.data-table{
    background-color: rgb(35, 35, 35);
    padding: 0;
    margin-bottom: 10px;

}

.dialog-list-item{
    background-color: rgb(22, 22, 22);
    color: rgb(193, 193, 193);
    padding-left: 10px;
    padding-top: 8px;
    padding-bottom: 8px;
}

.dialog-list-item:hover{
    background-color: rgb(66, 66, 66);
}

.dialog-list-item-label{
    font-size: 25px;
}

.dialog-heading-label{
    font-size: 35px;
}

